@font-face {
  font-family: corben;
  src: url("../src/assets/font.ttf");
}

@font-face {
  font-family: fleur;
  src: url("../src/assets/font_two.ttf");
}

:root{
  --primary_color:#f8efef;
  --secondary_color:#ff0000;
}

body{
  font-family: corben;
}

.p_font{
  font-family: fleur;
}

.p_text{
  color: var(--primary_color);
}

.s_text{
  color: var(--secondary_color);
}

.p_bg{
  background-color: var(--primary_color);
}

.s_bg{
  background-color: var(--secondary_color);
}


.s_btn{
  background-color: var(--secondary_color);
  width: 200px;
  color:white;
}

.s_btn:hover{
  background-color: var(--secondary_color);
  color:white;
}

.slider_btn{
  min-width:200px;
  background-color: #f8efef;
}

.slider_btn:focus{
  background-color: var(--secondary_color)!important;
  color:white;
}

.slider_container{
  overflow: auto;
}

.gen_btn{
  width: 200px;
}


.float_btn{
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index:1050;
}